<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Add Blog</title>
</head>
<body>
	<div class="container">
		<section layout:fragment="content">
			<!-- blog form starts -->
			<div class="">
				<span th:if="${invalidField}">
					error in fields
				</span>
			</div>
			<form th:action="@{/blog/new}" th:method="post" th:object="${blog}"
				role="form" class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Title:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{title}"
							placeholder="Blog Title" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="category">Category:</label>
					<div class="col-sm-10">
						<select id="category" th:field="*{category}">
							<option value="">Select Category</option>
							<option th:each="category: ${categories}"
								th:value="${category.id}" th:name="${category.name}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="description">Description:</label>
					<div class="col-sm-10">
						<textarea rows="15" cols="100"></textarea>
					</div>

				</div>


				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</div>
			</form>

			<!-- blog form ends -->

		</section>
	</div>
	<!-- 
	<footer class="footer">
		<div class="container">
			<div layout:fragment="custom-footer"></div>
		</div>
	</footer> -->
</body>
</html>