<div th:fragment="navbar">
	<ul class="nav" id="main-menu">
		<li><a th:href="@{/dashboard}"><i class="fa fa-desktop"></i>Dashboard</a></li>
		<li><a href="blank.html"><i class="fa fa-edit "></i>Admin
				<span class="badge">Included</span></a></li>
		<li><a href="#"><i class="fa fa-qrcode "></i>Settings</a></li>
		<li><a th:href="@{/resume/new}"><i class="fa fa-bar-chart-o"></i>Resume</a></li>
	
		<li><a href="#"><i class="fa fa-edit "></i>My Link Three </a></li>
		<li><a href="#"><i class="fa fa-table "></i>My Link Four</a></li>
		<li><a href="#"><i class="fa fa-edit "></i>My Link Five </a></li>
	</ul>
</div>