<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout">
<head>
<title>Dashboard</title>
<link rel="stylesheet" th:href="@{/css/dashboard.css}" />
</head>
<body>
	<div class="container">
		<section layout:fragment="content">
			<div id="wrapper">
				<div class="navbar navbar-inverse navbar-fixed-top">
			 		<div class="container-fluid">
    					<div class="navbar-header">
    						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
							<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
      						<a class="navbar-brand" th:href="@{/}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
				    	</div>
				    	<div id="navbar" class="navbar-collapse collapse">
				    	<div th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
							<div th:if="${currentUser!=null}">
				    			<ul class="nav navbar-nav navbar-right">
									<li><a th:href="@{/user}"><i class="fa fa-user" aria-hidden="true"></i>
									<span th:text="${currentUser}"></span></a></li>
									<li><a th:href="@{/logout}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
						    	</ul>
							</div>
						</div>
						</div>
			  		</div>
				</div>
				<!-- /. NAV TOP  -->
	
				<nav class="navbar-default navbar-side" role="navigation">
					<div class="sidebar-collapse">
						<ul class="nav" id="main-menu">
							<li class="active-link"><a href="index.html"><i
									class="fa fa-desktop "></i>Dashboard <span class="badge">Included</span></a>
							</li>
							<li><a href="ui.html"><i class="fa fa-table "></i>UI
									Elements <span class="badge">Included</span></a></li>
							<li><a href="blank.html"><i class="fa fa-edit "></i>Blank
									Page <span class="badge">Included</span></a></li>
							<li><a href="#"><i class="fa fa-qrcode "></i>My Link One</a>
							</li>
							<li><a href="#"><i class="fa fa-bar-chart-o"></i>My Link
									Two</a></li>

							<li><a href="#"><i class="fa fa-edit "></i>My Link Three
							</a></li>
							<li><a href="#"><i class="fa fa-table "></i>My Link Four</a>
							</li>
							<li><a href="#"><i class="fa fa-edit "></i>My Link Five
							</a></li>

						</ul>
					</div>

				</nav>
				<!-- /. NAV SIDE  -->
	
				<div id="page-wrapper">
					<div id="page-inner">
						<div class="row">
							<div class="col-lg-12">
								<h2>DASHBOARD</h2>
							</div>
						</div>
						<!-- /. ROW  -->
						<hr />
						<div class="row">
							<div class="col-lg-12 ">
								<div class="alert alert-info">
									Welcome <strong>User ! </strong> You Have No pending Task
									For Today.
								</div>
							</div>
						</div>
						<!-- /. ROW  -->
						<div class="row text-center pad-top">
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-circle-o-notch fa-5x"></i>
										<h4>Check Data</h4>
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-envelope-o fa-5x"></i>
										<h4>Mail Box</h4>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-lightbulb-o fa-5x"></i>
										<h4>New Issues</h4>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-users fa-5x"></i>
										<h4>See Users</h4>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-key fa-5x"></i>
										<h4>Admin</h4>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-comments-o fa-5x"></i>
										<h4>Support</h4>
									</a>
								</div>
							</div>
						</div>
						<!-- /. ROW  -->
						<div class="row text-center pad-top">

							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-clipboard fa-5x"></i>
										<h4>All Docs</h4>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-gear fa-5x"></i>
										<h4>Settings</h4>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-wechat fa-5x"></i>
										<h4>Live Talk</h4>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-bell-o fa-5x"></i>
										<h4>Notifications</h4>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-rocket fa-5x"></i>
										<h4>Launch</h4>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-user fa-5x"></i>
										<h4>Register User</h4>
									</a>
								</div>
							</div>
						</div>
						<!-- /. ROW  -->
						<div class="row text-center pad-top">

							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-user fa-5x"></i>
										<h4>Profile</h4>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-gear fa-5x"></i>
										<h4>Settings</h4>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-wechat fa-5x"></i>
										<h4>Live Talk</h4>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-bell-o fa-5x"></i>
										<h4>Notifications</h4>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-rocket fa-5x"></i>
										<h4>Launch</h4>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
								<div class="div-square">
									<a href="blank.html"> <i class="fa fa-user fa-5x"></i>
										<h4>Register User</h4>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- /. PAGE INNER  -->
				</div>
				<!-- /. PAGE WRAPPER  -->
			</div>

		</section>
	</div>
	<!-- 
	<footer class="footer">
		<div class="container">
			<div layout:fragment="custom-footer"></div>
		</div>
	</footer> -->
</body>
</html>