@CHARSET "UTF-8";

/* Custom CSS for the application */
body{
	background-color: rgb(31, 57, 69);
	font-size: 16px;
	line-height: 24px;
	margin: 0 auto;
}

#wrapper{
	color: #cfcfcf;
//	padding: 2px
}

.navbar {
    border-radius: 0px;
}

#main-content-box {
	background-color: #cecece;
	color: black;
	padding: 5px;
}