@CHARSET "UTF-8";

/* Custom CSS for the application */
html, body {
	background-color: #efefef;
	height: 100%;
	margin: 0;
	font-size: 14px;
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
	/* 	line-height: 24px; */
}

/* keep footer at buttom */
.content {
	min-height: calc(100vh - 70px);
}

.footer {
	height: 50px;
}
/* footer ends */
ul {
	list-style-type: none;
}

a {
	/* color: #eadbdb; */
	text-decoration: none !important;
}

.panel-default>.panel-heading {
	background-color: #e7e8e9;
}
/* navbar starts */
.navbar {
	border-radius: 0px;
}

.home-logo {
	margin-top: -8px;
}

.navbar-side {
	border: none;
	background-color: #fff;
	margin-left: 12px;
}

.navbar-inverse {
	background-color: #214761;
	border-color: #214761;
	min-height: 50px;
}

.nav>li>a>i {
	margin-right: 10px;
}

.navbar-row {
	background-color: #214761;
}
/* navbar ends */
.gsc-search-box {
	margin: -0.1em 1em 1em 1em !important;
}

#main-content-box {
	background-color: #e7e7e7;
	color: black;
	padding: 2px; //
	margin-top: -22px;
	width: 100%;
}

/* login box starts */
.forgot-password {
	font-size: 80%;
	position: relative;
	top: -24px;
	color: #eadbdb;
}

.forgot-password-link {
	color: #eadbdb;
	text-decoration: none !important;
}

.forgot-password-link:hover {
	color: white;
}

#loginbox {
	margin-top: 20px;
}

#login-panel-body {
	padding-top: 30px
}

.login-input {
	margin-bottom: 25px
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #103f6c;
	border-color: #077b19;
}

.panel-title {
	color: #eadbdb;
}

.login-button {
	width: 100%
}
/* login box ends */

/* footer page starts */
.footer {
	height: 15%;
	width: 100%;
	background-color: #333333;
	color: #FFFFFF;
}

.footer-content {
	text-align: center;
	padding: 5px;
	margin-top: 8px;
}
/* footer page ends */

/* contact page starts */
.h1 small {
	font-size: 24px;
}

.contact-message {
	text-align: right;
}

.contact-message-panel {
	border: 1px solid #709ff2;
}
/* contact page ends */

/* blog page starts */
.most-popular-blog {
	background-color: #bec8cb !important;
}

.blog-panel {
	margin-left: 10px;
	margin-top: 10px;
}

.title-heading {
	font-weight: bold;
	font-size: xx-large;
	font-family: 'Montserrat', sans-serif;
}

.published-on {
	font-size: small;
	font-style: italic;
	margin: -10px 0px;
}

.blog-visit {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	margin-top: 25px;
}

.blog-visit-li {
	display: inline-block;
}

.new-blog-header {
	background-color: #0e2342;
	/* text-align: right; */
	color: #e9e7e7;
	margin: 8px 0px;
	padding: 10px;
}

.view-all-blog-header {
	text-align: right !important;
}

.green {
	color: green;
}

.red {
	color: red;
}
/* blog page ends */

/* register page starts */
.login-link {
	position: relative;
	top: -24px;
}

.login-link>a:hover {
	color: white !important;
}
/* register page starts */
#disqus-comment {
	width: 75%;
}

.share-this {
	margin-left: -30px;
	margin-top: 25px;
	margin-bottom: -20px;
}

/* langing page starts */
ti

.author {
	font-style: italic;
}

.published-date {
	color: #a29f9f;
}

.greeting-text {
	font-size: 1em;
	background-color: rgba(30, 83, 31, 0.5);
}

@media screen and (min-width:1500px) {
	.greeting-text {
		font-size: 2.4em;
		background-color: rgba(30, 83, 31, 0.5);
	}
	.container {
		min-width: auto;
	}
}

@media screen and (min-width:1200px) {
	.container {
		min-width: 1352px;
	}
}

}
@media screen and (max-width : 320px) {
	.current-time-row {
		color: #080808;
		width: 100%;
	}
}

.current-time-row {
	margin: 2px;
	font-weight: bold;
	text-align: center;
}

.affiliate-link-header {
	background-color: #1b5773 !important;
	color: white !important;
	text-align: center;
	font-weight: bold;
}

.affiliate-link-body {
	text-align: center;
	background-color: #163d60;
	color: #fdfdfd;
}

/* langing page ends */

/* search bar starts */
.gsc-search-box {
	height: 35px;
	margin-top: 5px;
}

/* search bar ends */