<div th:fragment="affiliate_buttom">
<!-- BEGIN LINK -->
<a rel="nofollow" href="https://affiliate.namecheap.com/?affId=105693">
	<img src="http://files.namecheap.com/graphics/linkus/200x200-2.gif"
	width="200" height="200" border="0" alt="Namecheap.com" />
</a>
<!-- END LINK -->
</div>
<div th:fragment="affiliate-right-sidebar">
	<!-- affiliate link starts -->
	<div class="panel panel-default">
		<div class="panel-heading most-popular-blog affiliate-link-header">
			<p>Referral Links</p>
		</div>
		<div class="panel-body affiliate-link-body">
			<div>
				<span>Earn $10 in credit when you sign up</span> <a
					href="https://m.do.co/c/db702fe85428" target="_blank"> <img
					alt="Digital Ocean"
					src="https://upload.wikimedia.org/wikipedia/en/thumb/f/ff/DigitalOcean_logo.svg/150px-DigitalOcean_logo.svg.png" />
				</a>
			</div>
			<hr />
			<div>
				<span>Get $300 in new user Free Credit</span> <a
					href="https://account-intl.aliyun.com/register/intl_register.htm?biz_params=%7B%22intl%22%3A%22%7B%5C%22referralCode%5C%22%3A%5C%22h25qml%5C%22%7D%22%7D"
					target="_blank"><img
					src="https://g.alicdn.com/alicloud-components/common/images/logo/alicloud.png?v=1.1.28"
					alt="Alibaba cloud" class="img-responsive" /></a>
			</div>

		</div>
	</div>
	<!-- affiliate link ends -->
</div>