<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$CONTENT_TITLE :: $LAYOUT_TITLE">Buddhi
	Bal Thapa</title>
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{css/site.css}" />
</head>
<body>
	<div class="container" id="wrapper">
		<div class="row">
			<header>
				<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse" data-target="#navbar"
								aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" th:href="@{/}">Project name</a>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li><a th:href="@{/resume}">Resume</a></li>
								<li><a th:href="@{/project}">Project</a></li>
								<li><a th:href="@{/blog}">Blog</a></li>
								<li><a th:href="@{/contact}">Contact</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li>
									<a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
								</li>
							</ul>
						</div>
						<!--/.nav-collapse -->
					</div>
					<!--/.container-fluid -->
				</nav>
				<h1>heading from layout</h1>
			</header>
		</div>
		<div class="row" id="main-content-box">
			<section layout:fragment="content">
				<p>Page content goes here</p>
			</section>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<div layout:fragment="custom-footer">
				<div class="row footer-content">
					<div class="col-sm-4 hidden-xs">
						<ul>
							<li><a href="">Resume</a></li>
							<li><a href="">Project</a></li>
							<li><a href="">Blog</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul>
							<li>Buddhi Bal Thapa</li>
							<li>budthapa@gmail.com</li>
							<li>+971 50 860 9904</li>
						</ul>
					</div>
					<div class="col-sm-4 hidden-xs">
						<ul>
							<li><a href="">github</a></li>
							<li><a href="">linkedin</a></li>
							<li><a href="">twitter</a></li>
						</ul>
					</div>	
				</div>
			</div>
	  	</div>
	</footer>
	<script th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous">
		
	</script>
	<script
		th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous">
		
	</script>
	<script src="common-script.js"></script>
</body>
</html>

